{:hid-1654
 {:type :htn-expanded-method,
  :uid :hid-1654,
  :label "DoItAt\nDoItAt(B)",
  :incidence-set #{:hedge-1883},
  :network :net-2140639917,
  :edges [:hedge-1891]},
 :hid-1674
 {:type :htn-expanded-method,
  :uid :hid-1674,
  :label "DoItAt\nDoItAt(D)",
  :incidence-set #{:hedge-1881},
  :network :net-1195943518,
  :edges [:hedge-1907]},
 :hid-1741
 {:type :htn-expanded-method,
  :uid :hid-1741,
  :label "Interpret2\nInterpret(A)",
  :incidence-set #{:hedge-1893},
  :network :net-378095123},
 :hid-1738
 {:type :htn-expanded-method,
  :uid :hid-1738,
  :label "Interpret1\nInterpret(A)",
  :incidence-set #{:hedge-1894},
  :network :net-1541010091},
 :hid-1670
 {:type :htn-primitive-task,
  :uid :hid-1670,
  :label "GoTo(D)",
  :incidence-set #{},
  :edges #{:hedge-1905}},
 :hedge-1867 {:type :edge, :uid :hedge-1867, :end-node :hid-1644},
 :hid-1653
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1653,
  :label "DoRestOfItAt(B)",
  :incidence-set #{:hedge-1890}},
 :net-1799972420
 {:type :htn-network,
  :uid :net-1799972420,
  :label "Interpret1\nInterpret(B)",
  :rootnodes #{:hid-1721},
  :parentid :hid-1722},
 :hid-1731
 {:type :htn-primitive-task,
  :uid :hid-1731,
  :label "Evidence(A)",
  :incidence-set #{}},
 :hid-1721
 {:type :htn-primitive-task,
  :uid :hid-1721,
  :label "Interpret 1(B)",
  :incidence-set #{}},
 :hid-1718
 {:type :htn-primitive-task,
  :uid :hid-1718,
  :label "Interpret 3(B)",
  :incidence-set #{}},
 :hedge-1901
 {:type :edge,
  :uid :hedge-1901,
  :end-node :hid-1709,
  :edge-type :choice,
  :label "2"},
 :hedge-1893
 {:type :edge,
  :uid :hedge-1893,
  :end-node :hid-1741,
  :edge-type :choice,
  :label "2"},
 :hid-1638
 {:type :htn-expanded-method,
  :uid :hid-1638,
  :label "clojure-west Mission\nclojure-west Mission()",
  :incidence-set #{:hedge-1868},
  :network :net-939095513,
  :edges [:hedge-1867]},
 :net-1276814963
 {:type :htn-network,
  :uid :net-1276814963,
  :label "DoRestOfItAt C\nDoRestOfItAt(C)",
  :rootnodes #{:hid-1666 :hid-1667},
  :parentid :hid-1668},
 :hedge-1882 {:type :edge, :uid :hedge-1882, :end-node :hid-1728},
 :net-939095513
 {:type :htn-network,
  :uid :net-939095513,
  :label "clojure-west Mission\nclojure-west Mission()",
  :rootnodes #{:hid-1637},
  :parentid :hid-1638},
 :hedge-1899
 {:type :edge, :uid :hedge-1899, :end-node :hid-1668, :label "3"},
 :hid-1642
 {:type :htn-primitive-task,
  :uid :hid-1642,
  :label "Capture(A)",
  :incidence-set #{:hedge-1869},
  :edges #{:hedge-1870}},
 :net-2140639917
 {:type :htn-network,
  :uid :net-2140639917,
  :label "DoItAt\nDoItAt(B)",
  :rootnodes #{:hid-1650},
  :parentid :hid-1654},
 :hid-1668
 {:type :htn-expanded-method,
  :uid :hid-1668,
  :label "DoRestOfItAt C\nDoRestOfItAt(C)",
  :incidence-set #{:hedge-1899},
  :network :net-1276814963,
  :edges [:hedge-1881 :hedge-1880]},
 :hid-1664
 {:type :htn-expanded-method,
  :uid :hid-1664,
  :label "DoItAt\nDoItAt(C)",
  :incidence-set #{:hedge-1879},
  :network :net-192604331,
  :edges [:hedge-1899]},
 :hid-1666
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1666,
  :label "DoItAt(D)",
  :incidence-set #{}},
 :hid-1673
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1673,
  :label "DoRestOfItAt(D)",
  :incidence-set #{:hedge-1906}},
 :hid-1686
 {:type :htn-primitive-task,
  :uid :hid-1686,
  :label "Interpret 3(D)",
  :incidence-set #{}},
 :hedge-1902
 {:type :edge,
  :uid :hedge-1902,
  :end-node :hid-1706,
  :edge-type :choice,
  :label "2"},
 :net-940653948
 {:type :htn-network,
  :uid :net-940653948,
  :label "Interpret3\nInterpret(A)",
  :rootnodes #{:hid-1734},
  :parentid :hid-1735},
 :hid-1660
 {:type :htn-primitive-task,
  :uid :hid-1660,
  :label "GoTo(C)",
  :incidence-set #{},
  :edges #{:hedge-1897}},
 :hid-1640
 {:type :htn-primitive-task,
  :uid :hid-1640,
  :label "GoTo(A)",
  :incidence-set #{},
  :edges #{:hedge-1869}},
 :hedge-1870 {:type :edge, :uid :hedge-1870, :end-node :hid-1643},
 :hid-1695
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1695,
  :label "Interpret(C)",
  :incidence-set #{:hedge-1900}},
 :hid-1719
 {:type :htn-expanded-method,
  :uid :hid-1719,
  :label "Interpret3\nInterpret(B)",
  :incidence-set #{:hedge-1887},
  :network :net-302917948},
 :hedge-1897 {:type :edge, :uid :hedge-1897, :end-node :hid-1662},
 :hid-1657
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1657,
  :label "EvidenceAndInterpret(B)",
  :incidence-set #{}},
 :hedge-1877
 {:type :edge, :uid :hedge-1877, :end-node :hid-1684, :label "1"},
 :net-1061844314
 {:type :htn-network,
  :uid :net-1061844314,
  :label "Interpret2\nInterpret(D)",
  :rootnodes #{:hid-1692},
  :parentid :hid-1693},
 :net-192604331
 {:type :htn-network,
  :uid :net-192604331,
  :label "DoItAt\nDoItAt(C)",
  :rootnodes #{:hid-1660},
  :parentid :hid-1664},
 :hedge-1906 {:type :edge, :uid :hedge-1906, :end-node :hid-1673},
 :net-658790801
 {:type :htn-network,
  :uid :net-658790801,
  :label "Evidence\nEvidence(C)",
  :rootnodes #{:hid-1699},
  :parentid :hid-1700},
 :hid-1716
 {:type :htn-expanded-method,
  :uid :hid-1716,
  :label "Evidence\nEvidence(B)",
  :incidence-set #{:hedge-1888},
  :network :net-1465101807},
 :hid-1727
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1727,
  :label "Interpret(A)",
  :incidence-set #{:hedge-1892}},
 :net-310719554
 {:type :htn-network,
  :uid :net-310719554,
  :label "Interpret3\nInterpret(C)",
  :rootnodes #{:hid-1702},
  :parentid :hid-1703},
 :hedge-1868 {:type :edge, :uid :hedge-1868, :end-node :hid-1638},
 :hid-1656
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1656,
  :label "DoItAt(C)",
  :incidence-set #{}},
 :hid-1737
 {:type :htn-primitive-task,
  :uid :hid-1737,
  :label "Interpret 1(A)",
  :incidence-set #{}},
 :hid-1709
 {:type :htn-expanded-method,
  :uid :hid-1709,
  :label "Interpret2\nInterpret(C)",
  :incidence-set #{:hedge-1901},
  :network :net-1409180238},
 :hedge-1876
 {:type :edge,
  :uid :hedge-1876,
  :end-node :hid-1687,
  :edge-type :choice,
  :label "2"},
 :net-302917948
 {:type :htn-network,
  :uid :net-302917948,
  :label "Interpret3\nInterpret(B)",
  :rootnodes #{:hid-1718},
  :parentid :hid-1719},
 :hedge-1907
 {:type :edge, :uid :hedge-1907, :end-node :hid-1677, :label "3"},
 :hedge-1887
 {:type :edge,
  :uid :hedge-1887,
  :end-node :hid-1719,
  :edge-type :choice,
  :label "2"},
 :hedge-1881 {:type :edge, :uid :hedge-1881, :end-node :hid-1674},
 :hedge-1880 {:type :edge, :uid :hedge-1880, :end-node :hid-1696},
 :hid-1734
 {:type :htn-primitive-task,
  :uid :hid-1734,
  :label "Interpret 3(A)",
  :incidence-set #{}},
 :hedge-1903
 {:type :edge,
  :uid :hedge-1903,
  :end-node :hid-1703,
  :edge-type :choice,
  :label "2"},
 :hid-1705
 {:type :htn-primitive-task,
  :uid :hid-1705,
  :label "Interpret 1(C)",
  :incidence-set #{}},
 :hid-1726
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1726,
  :label "Evidence(A)",
  :incidence-set #{},
  :edges #{:hedge-1892}},
 :hid-1700
 {:type :htn-expanded-method,
  :uid :hid-1700,
  :label "Evidence\nEvidence(C)",
  :incidence-set #{:hedge-1904},
  :network :net-658790801},
 :hid-1710
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1710,
  :label "Evidence(B)",
  :incidence-set #{},
  :edges #{:hedge-1884}},
 :hid-1725
 {:type :htn-expanded-method,
  :uid :hid-1725,
  :label "Interpret2\nInterpret(B)",
  :incidence-set #{:hedge-1885},
  :network :net-259873203},
 :hid-1650
 {:type :htn-primitive-task,
  :uid :hid-1650,
  :label "GoTo(B)",
  :incidence-set #{},
  :edges #{:hedge-1889}},
 :net-259873203
 {:type :htn-network,
  :uid :net-259873203,
  :label "Interpret2\nInterpret(B)",
  :rootnodes #{:hid-1724},
  :parentid :hid-1725},
 :hid-1699
 {:type :htn-primitive-task,
  :uid :hid-1699,
  :label "Evidence(C)",
  :incidence-set #{}},
 :hedge-1904
 {:type :edge, :uid :hedge-1904, :end-node :hid-1700, :label "1"},
 :hid-1667
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1667,
  :label "EvidenceAndInterpret(C)",
  :incidence-set #{}},
 :hid-1652
 {:type :htn-primitive-task,
  :uid :hid-1652,
  :label "Capture(B)",
  :incidence-set #{:hedge-1889},
  :edges #{:hedge-1890}},
 :net-292384833
 {:type :htn-network,
  :uid :net-292384833,
  :label "Interpret1\nInterpret(D)",
  :rootnodes #{:hid-1689},
  :parentid :hid-1690},
 :hid-1662
 {:type :htn-primitive-task,
  :uid :hid-1662,
  :label "Capture(C)",
  :incidence-set #{:hedge-1897},
  :edges #{:hedge-1898}},
 :hedge-1905 {:type :edge, :uid :hedge-1905, :end-node :hid-1672},
 :hid-1679
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1679,
  :label "Interpret(D)",
  :incidence-set #{:hedge-1873}},
 :hid-1672
 {:type :htn-primitive-task,
  :uid :hid-1672,
  :label "Capture(D)",
  :incidence-set #{:hedge-1905},
  :edges #{:hedge-1906}},
 :hid-1740
 {:type :htn-primitive-task,
  :uid :hid-1740,
  :label "Interpret 2(A)",
  :incidence-set #{}},
 :hid-1643
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1643,
  :label "DoRestOfItAt(A)",
  :incidence-set #{:hedge-1870}},
 :hedge-1900 {:type :edge, :uid :hedge-1900, :end-node :hid-1695},
 :net-1066775904
 {:type :htn-network,
  :uid :net-1066775904,
  :label "Interpret3\nInterpret(D)",
  :rootnodes #{:hid-1686},
  :parentid :hid-1687},
 :hid-1706
 {:type :htn-expanded-method,
  :uid :hid-1706,
  :label "Interpret1\nInterpret(C)",
  :incidence-set #{:hedge-1902},
  :network :net-1792573953},
 :net-729778006
 {:type :htn-network,
  :uid :net-729778006,
  :label "Evidence\nEvidence(D)",
  :rootnodes #{:hid-1683},
  :parentid :hid-1684},
 :hid-1689
 {:type :htn-primitive-task,
  :uid :hid-1689,
  :label "Interpret 1(D)",
  :incidence-set #{}},
 :hid-1722
 {:type :htn-expanded-method,
  :uid :hid-1722,
  :label "Interpret1\nInterpret(B)",
  :incidence-set #{:hedge-1886},
  :network :net-1799972420},
 :hid-1683
 {:type :htn-primitive-task,
  :uid :hid-1683,
  :label "Evidence(D)",
  :incidence-set #{}},
 :hedge-1895
 {:type :edge,
  :uid :hedge-1895,
  :end-node :hid-1735,
  :edge-type :choice,
  :label "2"},
 :hedge-1873 {:type :edge, :uid :hedge-1873, :end-node :hid-1679},
 :hedge-1874
 {:type :edge,
  :uid :hedge-1874,
  :end-node :hid-1693,
  :edge-type :choice,
  :label "2"},
 :hedge-1871
 {:type :edge, :uid :hedge-1871, :end-node :hid-1648, :label "3"},
 :hid-1646
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1646,
  :label "DoItAt(B)",
  :incidence-set #{}},
 :hedge-1884 {:type :edge, :uid :hedge-1884, :end-node :hid-1711},
 :net-801897773
 {:type :htn-network,
  :uid :net-801897773,
  :label "clojure-west Mission()",
  :rootnodes #{:hid-1636}},
 :hid-1703
 {:type :htn-expanded-method,
  :uid :hid-1703,
  :label "Interpret3\nInterpret(C)",
  :incidence-set #{:hedge-1903},
  :network :net-310719554},
 :hedge-1878 {:type :edge, :uid :hedge-1878, :end-node :hid-1712},
 :hid-1715
 {:type :htn-primitive-task,
  :uid :hid-1715,
  :label "Evidence(B)",
  :incidence-set #{}},
 :hid-1708
 {:type :htn-primitive-task,
  :uid :hid-1708,
  :label "Interpret 2(C)",
  :incidence-set #{}},
 :hid-1680
 {:type :htn-expanded-method,
  :uid :hid-1680,
  :label "EvidenceAndInterpret\nEvidenceAndInterpret(D)",
  :incidence-set #{:hedge-1872},
  :network :net-834657730,
  :edges [:hedge-1877 :hedge-1876 :hedge-1875 :hedge-1874]},
 :hid-1690
 {:type :htn-expanded-method,
  :uid :hid-1690,
  :label "Interpret1\nInterpret(D)",
  :incidence-set #{:hedge-1875},
  :network :net-292384833},
 :net-1465101807
 {:type :htn-network,
  :uid :net-1465101807,
  :label "Evidence\nEvidence(B)",
  :rootnodes #{:hid-1715},
  :parentid :hid-1716},
 :net-1792573953
 {:type :htn-network,
  :uid :net-1792573953,
  :label "Interpret1\nInterpret(C)",
  :rootnodes #{:hid-1705},
  :parentid :hid-1706},
 :hedge-1898 {:type :edge, :uid :hedge-1898, :end-node :hid-1663},
 :hid-1637
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1637,
  :label "DoItAt(A)",
  :incidence-set #{}},
 :hid-1644
 {:type :htn-expanded-method,
  :uid :hid-1644,
  :label "DoItAt\nDoItAt(A)",
  :incidence-set #{:hedge-1867},
  :network :net-579936876,
  :edges [:hedge-1871]},
 :hid-1711
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1711,
  :label "Interpret(B)",
  :incidence-set #{:hedge-1884}},
 :hid-1648
 {:type :htn-expanded-method,
  :uid :hid-1648,
  :label "DoRestOfItAt A\nDoRestOfItAt(A)",
  :incidence-set #{:hedge-1871},
  :network :net-166043596,
  :edges [:hedge-1883 :hedge-1882]},
 :hedge-1889 {:type :edge, :uid :hedge-1889, :end-node :hid-1652},
 :hedge-1894
 {:type :edge,
  :uid :hedge-1894,
  :end-node :hid-1738,
  :edge-type :choice,
  :label "2"},
 :hid-1658
 {:type :htn-expanded-method,
  :uid :hid-1658,
  :label "DoRestOfItAt B\nDoRestOfItAt(B)",
  :incidence-set #{:hedge-1891},
  :network :net-1748137811,
  :edges [:hedge-1879 :hedge-1878]},
 :hid-1732
 {:type :htn-expanded-method,
  :uid :hid-1732,
  :label "Evidence\nEvidence(A)",
  :incidence-set #{:hedge-1896},
  :network :net-734806255},
 :net-1039732896
 {:type :htn-network,
  :uid :net-1039732896,
  :label "EvidenceAndInterpret\nEvidenceAndInterpret(B)",
  :rootnodes #{:hid-1710},
  :parentid :hid-1712},
 :hid-1636
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1636,
  :label "clojure-west Mission()",
  :incidence-set #{},
  :edges #{:hedge-1868}},
 :hedge-1896
 {:type :edge, :uid :hedge-1896, :end-node :hid-1732, :label "1"},
 :net-166043596
 {:type :htn-network,
  :uid :net-166043596,
  :label "DoRestOfItAt A\nDoRestOfItAt(A)",
  :rootnodes #{:hid-1646 :hid-1647},
  :parentid :hid-1648},
 :hid-1724
 {:type :htn-primitive-task,
  :uid :hid-1724,
  :label "Interpret 2(B)",
  :incidence-set #{}},
 :net-1748137811
 {:type :htn-network,
  :uid :net-1748137811,
  :label "DoRestOfItAt B\nDoRestOfItAt(B)",
  :rootnodes #{:hid-1657 :hid-1656},
  :parentid :hid-1658},
 :net-1334225613
 {:type :htn-network,
  :uid :net-1334225613,
  :label "DoRestOfItAt D\nDoRestOfItAt(D)",
  :rootnodes #{:hid-1676},
  :parentid :hid-1677},
 :hedge-1891
 {:type :edge, :uid :hedge-1891, :end-node :hid-1658, :label "3"},
 :net-734806255
 {:type :htn-network,
  :uid :net-734806255,
  :label "Evidence\nEvidence(A)",
  :rootnodes #{:hid-1731},
  :parentid :hid-1732},
 :net-834657730
 {:type :htn-network,
  :uid :net-834657730,
  :label "EvidenceAndInterpret\nEvidenceAndInterpret(D)",
  :rootnodes #{:hid-1678},
  :parentid :hid-1680},
 :hid-1687
 {:type :htn-expanded-method,
  :uid :hid-1687,
  :label "Interpret3\nInterpret(D)",
  :incidence-set #{:hedge-1876},
  :network :net-1066775904},
 :hid-1647
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1647,
  :label "EvidenceAndInterpret(A)",
  :incidence-set #{}},
 :hedge-1875
 {:type :edge,
  :uid :hedge-1875,
  :end-node :hid-1690,
  :edge-type :choice,
  :label "2"},
 :network :net-801897773,
 :hedge-1869 {:type :edge, :uid :hedge-1869, :end-node :hid-1642},
 :net-1409180238
 {:type :htn-network,
  :uid :net-1409180238,
  :label "Interpret2\nInterpret(C)",
  :rootnodes #{:hid-1708},
  :parentid :hid-1709},
 :hid-1702
 {:type :htn-primitive-task,
  :uid :hid-1702,
  :label "Interpret 3(C)",
  :incidence-set #{}},
 :hid-1678
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1678,
  :label "Evidence(D)",
  :incidence-set #{},
  :edges #{:hedge-1873}},
 :hid-1696
 {:type :htn-expanded-method,
  :uid :hid-1696,
  :label "EvidenceAndInterpret\nEvidenceAndInterpret(C)",
  :incidence-set #{:hedge-1880},
  :network :net-636264179,
  :edges [:hedge-1904 :hedge-1903 :hedge-1902 :hedge-1901]},
 :net-1541010091
 {:type :htn-network,
  :uid :net-1541010091,
  :label "Interpret1\nInterpret(A)",
  :rootnodes #{:hid-1737},
  :parentid :hid-1738},
 :hedge-1890 {:type :edge, :uid :hedge-1890, :end-node :hid-1653},
 :hid-1677
 {:type :htn-expanded-method,
  :uid :hid-1677,
  :label "DoRestOfItAt D\nDoRestOfItAt(D)",
  :incidence-set #{:hedge-1907},
  :network :net-1334225613,
  :edges [:hedge-1872]},
 :net-579936876
 {:type :htn-network,
  :uid :net-579936876,
  :label "DoItAt\nDoItAt(A)",
  :rootnodes #{:hid-1640},
  :parentid :hid-1644},
 :hid-1728
 {:type :htn-expanded-method,
  :uid :hid-1728,
  :label "EvidenceAndInterpret\nEvidenceAndInterpret(A)",
  :incidence-set #{:hedge-1882},
  :network :net-2098572497,
  :edges [:hedge-1896 :hedge-1895 :hedge-1894 :hedge-1893]},
 :hid-1663
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1663,
  :label "DoRestOfItAt(C)",
  :incidence-set #{:hedge-1898}},
 :hid-1694
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1694,
  :label "Evidence(C)",
  :incidence-set #{},
  :edges #{:hedge-1900}},
 :hid-1684
 {:type :htn-expanded-method,
  :uid :hid-1684,
  :label "Evidence\nEvidence(D)",
  :incidence-set #{:hedge-1877},
  :network :net-729778006},
 :net-2098572497
 {:type :htn-network,
  :uid :net-2098572497,
  :label "EvidenceAndInterpret\nEvidenceAndInterpret(A)",
  :rootnodes #{:hid-1726},
  :parentid :hid-1728},
 :hid-1692
 {:type :htn-primitive-task,
  :uid :hid-1692,
  :label "Interpret 2(D)",
  :incidence-set #{}},
 :hid-1735
 {:type :htn-expanded-method,
  :uid :hid-1735,
  :label "Interpret3\nInterpret(A)",
  :incidence-set #{:hedge-1895},
  :network :net-940653948},
 :net-1195943518
 {:type :htn-network,
  :uid :net-1195943518,
  :label "DoItAt\nDoItAt(D)",
  :rootnodes #{:hid-1670},
  :parentid :hid-1674},
 :hedge-1872 {:type :edge, :uid :hedge-1872, :end-node :hid-1680},
 :hid-1712
 {:type :htn-expanded-method,
  :uid :hid-1712,
  :label "EvidenceAndInterpret\nEvidenceAndInterpret(B)",
  :incidence-set #{:hedge-1878},
  :network :net-1039732896,
  :edges [:hedge-1888 :hedge-1887 :hedge-1886 :hedge-1885]},
 :hedge-1883 {:type :edge, :uid :hedge-1883, :end-node :hid-1654},
 :hid-1676
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1676,
  :label "EvidenceAndInterpret(D)",
  :incidence-set #{}},
 :net-636264179
 {:type :htn-network,
  :uid :net-636264179,
  :label "EvidenceAndInterpret\nEvidenceAndInterpret(C)",
  :rootnodes #{:hid-1694},
  :parentid :hid-1696},
 :hedge-1892 {:type :edge, :uid :hedge-1892, :end-node :hid-1727},
 :hedge-1885
 {:type :edge,
  :uid :hedge-1885,
  :end-node :hid-1725,
  :edge-type :choice,
  :label "2"},
 :hedge-1886
 {:type :edge,
  :uid :hedge-1886,
  :end-node :hid-1722,
  :edge-type :choice,
  :label "2"},
 :hedge-1879 {:type :edge, :uid :hedge-1879, :end-node :hid-1664},
 :hedge-1888
 {:type :edge, :uid :hedge-1888, :end-node :hid-1716, :label "1"},
 :hid-1693
 {:type :htn-expanded-method,
  :uid :hid-1693,
  :label "Interpret2\nInterpret(D)",
  :incidence-set #{:hedge-1874},
  :network :net-1061844314},
 :net-378095123
 {:type :htn-network,
  :uid :net-378095123,
  :label "Interpret2\nInterpret(A)",
  :rootnodes #{:hid-1740},
  :parentid :hid-1741}}
