{:node-1743
 {:tpn-type :p-end,
  :uid :node-1743,
  :activities #{:arc-1836},
  :incidence-set #{:arc-1828 :arc-1804},
  :constraints #{}},
 :arc-1816
 {:tpn-type :null-activity, :uid :arc-1816, :end-node :node-1807},
 :node-1835
 {:constraints #{},
  :uid :node-1835,
  :tpn-type :state,
  :activities #{:arc-1835},
  :incidence-set #{:arc-1838}},
 :cnstr-8245
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8245,
  :value [15.0 25.0],
  :end-node :node-1815},
 :cnstr-8235
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8235,
  :value [15.0 25.0],
  :end-node :node-1789},
 :cnstr-8240
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8240,
  :value [15.0 25.0],
  :end-node :node-1841},
 :arc-1783
 {:constraints #{:cnstr-8239},
  :uid :arc-1783,
  :name "Interpret 1(C)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1705,
  :end-node :node-1783,
  :cost 0.0,
  :network-flows #{}},
 :arc-1801
 {:constraints #{:cnstr-8253},
  :uid :arc-1801,
  :name "Capture(C)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1662,
  :end-node :node-1746,
  :cost 0.0,
  :network-flows #{}},
 :node-1795
 {:constraints #{},
  :uid :node-1795,
  :tpn-type :state,
  :activities #{:arc-1795},
  :incidence-set #{:arc-1798}},
 :arc-1798
 {:tpn-type :null-activity, :uid :arc-1798, :end-node :node-1795},
 :arc-1827
 {:constraints #{:cnstr-8251},
  :uid :arc-1827,
  :name "Evidence(B)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1715,
  :end-node :node-1808,
  :cost 0.0,
  :network-flows #{}},
 :cnstr-8234
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8234,
  :value [15.0 25.0],
  :end-node :node-1847},
 :arc-1771
 {:constraints #{:cnstr-8252},
  :uid :arc-1771,
  :name "GoTo(D)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1670,
  :end-node :node-1769,
  :cost 0.0,
  :network-flows #{}},
 :cnstr-8236
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8236,
  :value [15.0 25.0],
  :end-node :node-1748},
 :cnstr-8251
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8251,
  :value [15.0 25.0],
  :end-node :node-1808},
 :network-id :net-8229,
 :cnstr-8231
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8231,
  :value [5.0 10.0],
  :end-node :node-1742},
 :node-1817
 {:constraints #{},
  :uid :node-1817,
  :tpn-type :state,
  :activities #{:arc-1815},
  :incidence-set #{:arc-1818}},
 :node-1741
 {:tpn-type :p-end,
  :uid :node-1741,
  :activities #{},
  :incidence-set #{:arc-1836 :arc-1860},
  :constraints #{}},
 :arc-1789
 {:constraints #{:cnstr-8235},
  :uid :arc-1789,
  :name "Interpret 3(C)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1702,
  :end-node :node-1789,
  :cost 0.0,
  :network-flows #{}},
 :node-1791
 {:constraints #{},
  :uid :node-1791,
  :tpn-type :state,
  :activities #{:arc-1789},
  :incidence-set #{:arc-1792}},
 :node-1746
 {:constraints #{},
  :htn-node :hid-1668,
  :uid :node-1746,
  :tpn-type :p-begin,
  :end-node :node-1745,
  :activities #{:arc-1798 :arc-1774},
  :incidence-set #{:arc-1801}},
 :arc-1841
 {:constraints #{:cnstr-8240},
  :uid :arc-1841,
  :name "Interpret 2(A)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1740,
  :end-node :node-1841,
  :cost 0.0,
  :network-flows #{}},
 :cnstr-8238
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8238,
  :value [15.0 25.0],
  :end-node :node-1776},
 :node-1769
 {:constraints #{},
  :uid :node-1769,
  :tpn-type :state,
  :activities #{:arc-1769},
  :incidence-set #{:arc-1771}},
 :arc-1762
 {:tpn-type :null-activity, :uid :arc-1762, :end-node :node-1747},
 :arc-1803
 {:constraints #{:cnstr-8250},
  :uid :arc-1803,
  :name "GoTo(C)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1660,
  :end-node :node-1801,
  :cost 0.0,
  :network-flows #{}},
 :arc-1828
 {:tpn-type :null-activity, :uid :arc-1828, :end-node :node-1743},
 :node-1789
 {:constraints #{},
  :uid :node-1789,
  :tpn-type :state,
  :activities #{:arc-1790},
  :incidence-set #{:arc-1789}},
 :arc-1859
 {:constraints #{:cnstr-8237},
  :uid :arc-1859,
  :name "Evidence(A)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1731,
  :end-node :node-1840,
  :cost 0.0,
  :network-flows #{}},
 :cnstr-8230
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8230,
  :value [5.0 10.0],
  :end-node :node-1744},
 :node-1840
 {:constraints #{},
  :htn-node :hid-1727,
  :uid :node-1840,
  :tpn-type :c-begin,
  :end-node :node-1839,
  :activities #{:arc-1850 :arc-1844 :arc-1856},
  :incidence-set #{:arc-1859}},
 :cnstr-8237
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8237,
  :value [15.0 25.0],
  :end-node :node-1840},
 :arc-1749
 {:constraints #{:cnstr-8247},
  :uid :arc-1749,
  :name "Interpret 2(D)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1692,
  :end-node :node-1749,
  :cost 0.0,
  :network-flows #{}},
 :cnstr-8253
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8253,
  :value [5.0 10.0],
  :end-node :node-1746},
 :cnstr-8246
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8246,
  :value [15.0 25.0],
  :end-node :node-1777},
 :node-1807
 {:tpn-type :c-end,
  :uid :node-1807,
  :activities #{:arc-1828},
  :incidence-set #{:arc-1816 :arc-1822 :arc-1810},
  :constraints #{}},
 :arc-1822
 {:tpn-type :null-activity, :uid :arc-1822, :end-node :node-1807},
 :arc-1764
 {:tpn-type :null-activity, :uid :arc-1764, :end-node :node-1763},
 :node-1823
 {:constraints #{},
  :uid :node-1823,
  :tpn-type :state,
  :activities #{:arc-1821},
  :incidence-set #{:arc-1824}},
 :cnstr-8249
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8249,
  :value [15.0 25.0],
  :end-node :node-1755},
 :arc-1796
 {:tpn-type :null-activity, :uid :arc-1796, :end-node :node-1745},
 :arc-1854
 {:tpn-type :null-activity, :uid :arc-1854, :end-node :node-1839},
 :cnstr-8243
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8243,
  :value [20.0 30.0],
  :end-node :node-1865},
 :node-1785
 {:constraints #{},
  :uid :node-1785,
  :tpn-type :state,
  :activities #{:arc-1783},
  :incidence-set #{:arc-1786}},
 :arc-1842
 {:tpn-type :null-activity, :uid :arc-1842, :end-node :node-1839},
 :node-1853
 {:constraints #{},
  :uid :node-1853,
  :tpn-type :state,
  :activities #{:arc-1854},
  :incidence-set #{:arc-1853}},
 :node-1801
 {:constraints #{},
  :uid :node-1801,
  :tpn-type :state,
  :activities #{:arc-1801},
  :incidence-set #{:arc-1803}},
 :arc-1780
 {:tpn-type :null-activity, :uid :arc-1780, :end-node :node-1779},
 :arc-1795
 {:constraints #{:cnstr-8238},
  :uid :arc-1795,
  :name "Evidence(C)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1699,
  :end-node :node-1776,
  :cost 0.0,
  :network-flows #{}},
 :cnstr-8232
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8232,
  :value [5.0 10.0],
  :end-node :node-1767},
 :node-1849
 {:constraints #{},
  :uid :node-1849,
  :tpn-type :state,
  :activities #{:arc-1847},
  :incidence-set #{:arc-1850}},
 :cnstr-8242
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8242,
  :value [15.0 25.0],
  :end-node :node-1761},
 :node-1815
 {:constraints #{},
  :uid :node-1815,
  :tpn-type :state,
  :activities #{:arc-1816},
  :incidence-set #{:arc-1815}},
 :arc-1758
 {:tpn-type :null-activity, :uid :arc-1758, :end-node :node-1757},
 :arc-1818
 {:tpn-type :null-activity, :uid :arc-1818, :end-node :node-1817},
 :arc-1772
 {:tpn-type :null-activity, :uid :arc-1772, :end-node :node-1745},
 :node-1763
 {:constraints #{},
  :uid :node-1763,
  :tpn-type :state,
  :activities #{:arc-1761},
  :incidence-set #{:arc-1764}},
 :arc-1804
 {:tpn-type :null-activity, :uid :arc-1804, :end-node :node-1743},
 :node-1748
 {:constraints #{},
  :htn-node :hid-1679,
  :uid :node-1748,
  :tpn-type :c-begin,
  :end-node :node-1747,
  :activities #{:arc-1764 :arc-1758 :arc-1752},
  :incidence-set #{:arc-1767}},
 :node-1776
 {:constraints #{},
  :htn-node :hid-1695,
  :uid :node-1776,
  :tpn-type :c-begin,
  :end-node :node-1775,
  :activities #{:arc-1780 :arc-1792 :arc-1786},
  :incidence-set #{:arc-1795}},
 :arc-1792
 {:tpn-type :null-activity, :uid :arc-1792, :end-node :node-1791},
 :node-1779
 {:constraints #{},
  :uid :node-1779,
  :tpn-type :state,
  :activities #{:arc-1777},
  :incidence-set #{:arc-1780}},
 :node-1839
 {:tpn-type :c-end,
  :uid :node-1839,
  :activities #{:arc-1860},
  :incidence-set #{:arc-1854 :arc-1842 :arc-1848},
  :constraints #{}},
 :arc-1774
 {:tpn-type :null-activity, :uid :arc-1774, :end-node :node-1771},
 :cnstr-8241
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8241,
  :value [15.0 25.0],
  :end-node :node-1853},
 :node-1821
 {:constraints #{},
  :uid :node-1821,
  :tpn-type :state,
  :activities #{:arc-1822},
  :incidence-set #{:arc-1821}},
 :node-1843
 {:constraints #{},
  :uid :node-1843,
  :tpn-type :state,
  :activities #{:arc-1841},
  :incidence-set #{:arc-1844}},
 :net-8229
 {:tpn-type :network, :uid :net-8229, :begin-node :node-1867},
 :cnstr-8252
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8252,
  :value [20.0 30.0],
  :end-node :node-1769},
 :node-1808
 {:constraints #{},
  :htn-node :hid-1711,
  :uid :node-1808,
  :tpn-type :c-begin,
  :end-node :node-1807,
  :activities #{:arc-1818 :arc-1812 :arc-1824},
  :incidence-set #{:arc-1827}},
 :node-1809
 {:constraints #{},
  :uid :node-1809,
  :tpn-type :state,
  :activities #{:arc-1810},
  :incidence-set #{:arc-1809}},
 :node-1865
 {:constraints #{},
  :uid :node-1865,
  :tpn-type :state,
  :activities #{:arc-1865},
  :incidence-set #{:arc-1867}},
 :arc-1850
 {:tpn-type :null-activity, :uid :arc-1850, :end-node :node-1849},
 :arc-1835
 {:constraints #{:cnstr-8244},
  :uid :arc-1835,
  :name "GoTo(B)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1650,
  :end-node :node-1833,
  :cost 0.0,
  :network-flows #{}},
 :arc-1865
 {:constraints #{:cnstr-8231},
  :uid :arc-1865,
  :name "Capture(A)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1642,
  :end-node :node-1742,
  :cost 0.0,
  :network-flows #{}},
 :node-1771
 {:constraints #{},
  :uid :node-1771,
  :tpn-type :state,
  :activities #{:arc-1771},
  :incidence-set #{:arc-1774}},
 :arc-1786
 {:tpn-type :null-activity, :uid :arc-1786, :end-node :node-1785},
 :arc-1810
 {:tpn-type :null-activity, :uid :arc-1810, :end-node :node-1807},
 :node-1833
 {:constraints #{},
  :uid :node-1833,
  :tpn-type :state,
  :activities #{:arc-1833},
  :incidence-set #{:arc-1835}},
 :node-1803
 {:constraints #{},
  :uid :node-1803,
  :tpn-type :state,
  :activities #{:arc-1803},
  :incidence-set #{:arc-1806}},
 :arc-1836
 {:tpn-type :null-activity, :uid :arc-1836, :end-node :node-1741},
 :node-1757
 {:constraints #{},
  :uid :node-1757,
  :tpn-type :state,
  :activities #{:arc-1755},
  :incidence-set #{:arc-1758}},
 :node-1859
 {:constraints #{},
  :uid :node-1859,
  :tpn-type :state,
  :activities #{:arc-1859},
  :incidence-set #{:arc-1862}},
 :node-1751
 {:constraints #{},
  :uid :node-1751,
  :tpn-type :state,
  :activities #{:arc-1749},
  :incidence-set #{:arc-1752}},
 :node-1783
 {:constraints #{},
  :uid :node-1783,
  :tpn-type :state,
  :activities #{:arc-1784},
  :incidence-set #{:arc-1783}},
 :arc-1844
 {:tpn-type :null-activity, :uid :arc-1844, :end-node :node-1843},
 :arc-1790
 {:tpn-type :null-activity, :uid :arc-1790, :end-node :node-1775},
 :arc-1853
 {:constraints #{:cnstr-8241},
  :uid :arc-1853,
  :name "Interpret 3(A)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1734,
  :end-node :node-1853,
  :cost 0.0,
  :network-flows #{}},
 :arc-1806
 {:tpn-type :null-activity, :uid :arc-1806, :end-node :node-1803},
 :arc-1856
 {:tpn-type :null-activity, :uid :arc-1856, :end-node :node-1855},
 :arc-1812
 {:tpn-type :null-activity, :uid :arc-1812, :end-node :node-1811},
 :arc-1824
 {:tpn-type :null-activity, :uid :arc-1824, :end-node :node-1823},
 :arc-1784
 {:tpn-type :null-activity, :uid :arc-1784, :end-node :node-1775},
 :arc-1750
 {:tpn-type :null-activity, :uid :arc-1750, :end-node :node-1747},
 :node-1755
 {:constraints #{},
  :uid :node-1755,
  :tpn-type :state,
  :activities #{:arc-1756},
  :incidence-set #{:arc-1755}},
 :cnstr-8244
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8244,
  :value [20.0 30.0],
  :end-node :node-1833},
 :arc-1761
 {:constraints #{:cnstr-8242},
  :uid :arc-1761,
  :name "Interpret 3(D)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1686,
  :end-node :node-1761,
  :cost 0.0,
  :network-flows #{}},
 :cnstr-8233
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8233,
  :value [15.0 25.0],
  :end-node :node-1821},
 :arc-1848
 {:tpn-type :null-activity, :uid :arc-1848, :end-node :node-1839},
 :node-1841
 {:constraints #{},
  :uid :node-1841,
  :tpn-type :state,
  :activities #{:arc-1842},
  :incidence-set #{:arc-1841}},
 :arc-1769
 {:constraints #{:cnstr-8232},
  :uid :arc-1769,
  :name "Capture(D)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1672,
  :end-node :node-1767,
  :cost 0.0,
  :network-flows #{}},
 :arc-1756
 {:tpn-type :null-activity, :uid :arc-1756, :end-node :node-1747},
 :arc-1833
 {:constraints #{:cnstr-8230},
  :uid :arc-1833,
  :name "Capture(B)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1652,
  :end-node :node-1744,
  :cost 0.0,
  :network-flows #{}},
 :arc-1752
 {:tpn-type :null-activity, :uid :arc-1752, :end-node :node-1751},
 :arc-1821
 {:constraints #{:cnstr-8233},
  :uid :arc-1821,
  :name "Interpret 3(B)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1718,
  :end-node :node-1821,
  :cost 0.0,
  :network-flows #{}},
 :arc-1847
 {:constraints #{:cnstr-8234},
  :uid :arc-1847,
  :name "Interpret 1(A)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1737,
  :end-node :node-1847,
  :cost 0.0,
  :network-flows #{}},
 :node-1811
 {:constraints #{},
  :uid :node-1811,
  :tpn-type :state,
  :activities #{:arc-1809},
  :incidence-set #{:arc-1812}},
 :cnstr-8247
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8247,
  :value [15.0 25.0],
  :end-node :node-1749},
 :node-1767
 {:constraints #{},
  :uid :node-1767,
  :tpn-type :state,
  :activities #{:arc-1767},
  :incidence-set #{:arc-1769}},
 :arc-1755
 {:constraints #{:cnstr-8249},
  :uid :arc-1755,
  :name "Interpret 1(D)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1689,
  :end-node :node-1755,
  :cost 0.0,
  :network-flows #{}},
 :node-1742
 {:constraints #{},
  :htn-node :hid-1648,
  :uid :node-1742,
  :tpn-type :p-begin,
  :end-node :node-1741,
  :activities #{:arc-1862 :arc-1838},
  :incidence-set #{:arc-1865}},
 :node-1777
 {:constraints #{},
  :uid :node-1777,
  :tpn-type :state,
  :activities #{:arc-1778},
  :incidence-set #{:arc-1777}},
 :node-1827
 {:constraints #{},
  :uid :node-1827,
  :tpn-type :state,
  :activities #{:arc-1827},
  :incidence-set #{:arc-1830}},
 :arc-1860
 {:tpn-type :null-activity, :uid :arc-1860, :end-node :node-1741},
 :node-1867
 {:constraints #{},
  :uid :node-1867,
  :tpn-type :state,
  :activities #{:arc-1867},
  :incidence-set #{}},
 :cnstr-8248
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8248,
  :value [15.0 25.0],
  :end-node :node-1809},
 :arc-1815
 {:constraints #{:cnstr-8245},
  :uid :arc-1815,
  :name "Interpret 1(B)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1721,
  :end-node :node-1815,
  :cost 0.0,
  :network-flows #{}},
 :arc-1767
 {:constraints #{:cnstr-8236},
  :uid :arc-1767,
  :name "Evidence(D)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1683,
  :end-node :node-1748,
  :cost 0.0,
  :network-flows #{}},
 :node-1749
 {:constraints #{},
  :uid :node-1749,
  :tpn-type :state,
  :activities #{:arc-1750},
  :incidence-set #{:arc-1749}},
 :cnstr-8239
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8239,
  :value [15.0 25.0],
  :end-node :node-1783},
 :node-1747
 {:tpn-type :c-end,
  :uid :node-1747,
  :activities #{:arc-1772},
  :incidence-set #{:arc-1762 :arc-1750 :arc-1756},
  :constraints #{}},
 :arc-1778
 {:tpn-type :null-activity, :uid :arc-1778, :end-node :node-1775},
 :node-1847
 {:constraints #{},
  :uid :node-1847,
  :tpn-type :state,
  :activities #{:arc-1848},
  :incidence-set #{:arc-1847}},
 :node-1775
 {:tpn-type :c-end,
  :uid :node-1775,
  :activities #{:arc-1796},
  :incidence-set #{:arc-1790 :arc-1784 :arc-1778},
  :constraints #{}},
 :cnstr-8250
 {:tpn-type :temporal-constraint,
  :uid :cnstr-8250,
  :value [20.0 30.0],
  :end-node :node-1801},
 :arc-1862
 {:tpn-type :null-activity, :uid :arc-1862, :end-node :node-1859},
 :node-1855
 {:constraints #{},
  :uid :node-1855,
  :tpn-type :state,
  :activities #{:arc-1853},
  :incidence-set #{:arc-1856}},
 :node-1744
 {:constraints #{},
  :htn-node :hid-1658,
  :uid :node-1744,
  :tpn-type :p-begin,
  :end-node :node-1743,
  :activities #{:arc-1806 :arc-1830},
  :incidence-set #{:arc-1833}},
 :arc-1777
 {:constraints #{:cnstr-8246},
  :uid :arc-1777,
  :name "Interpret 2(C)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1708,
  :end-node :node-1777,
  :cost 0.0,
  :network-flows #{}},
 :arc-1838
 {:tpn-type :null-activity, :uid :arc-1838, :end-node :node-1835},
 :arc-1809
 {:constraints #{:cnstr-8248},
  :uid :arc-1809,
  :name "Interpret 2(B)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1724,
  :end-node :node-1809,
  :cost 0.0,
  :network-flows #{}},
 :arc-1830
 {:tpn-type :null-activity, :uid :arc-1830, :end-node :node-1827},
 :arc-1867
 {:constraints #{:cnstr-8243},
  :uid :arc-1867,
  :name "GoTo(A)",
  :tpn-type :activity,
  :reward 0,
  :htn-node :hid-1640,
  :end-node :node-1865,
  :cost 0.0,
  :network-flows #{}},
 :node-1761
 {:constraints #{},
  :uid :node-1761,
  :tpn-type :state,
  :activities #{:arc-1762},
  :incidence-set #{:arc-1761}},
 :node-1745
 {:tpn-type :p-end,
  :uid :node-1745,
  :activities #{:arc-1804},
  :incidence-set #{:arc-1796 :arc-1772},
  :constraints #{}}}
