{:hid-1971
 {:type :htn-expanded-method,
  :uid :hid-1971,
  :label "GetDataAt\nGetDataAt(C)",
  :incidence-set #{:hedge-2162},
  :network :net-1230535760},
 :hid-1928
 {:type :htn-expanded-method,
  :uid :hid-1928,
  :label "EvidenceAndInterpret\nEvidenceAndInterpret(A)",
  :incidence-set #{:hedge-2160},
  :network :net-757826067,
  :edges [:hedge-2185 :hedge-2184 :hedge-2183 :hedge-2182]},
 :net-665025644
 {:type :htn-network,
  :uid :net-665025644,
  :label "Interpret1\nInterpret(C)",
  :rootnodes #{:hid-1987},
  :parentid :hid-1988},
 :hid-1925
 {:type :htn-expanded-method,
  :uid :hid-1925,
  :label "GetDataAndInterpret\nGetDataAndInterpret(A B)",
  :incidence-set #{:hedge-2172},
  :network :net-1122024022,
  :edges [:hedge-2160 :hedge-2159]},
 :hid-1934
 {:type :htn-primitive-task,
  :uid :hid-1934,
  :label "Interpret 3(A)",
  :incidence-set #{}},
 :hedge-2174 {:type :edge, :uid :hedge-2174, :end-node :hid-1970},
 :net-1014790698
 {:type :htn-network,
  :uid :net-1014790698,
  :label "clojure-west Mission()",
  :rootnodes #{:hid-1909}},
 :net-1012664018
 {:type :htn-network,
  :uid :net-1012664018,
  :label "Interpret1\nInterpret(D)",
  :rootnodes #{:hid-2009},
  :parentid :hid-2010},
 :hid-1948
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1948,
  :label "EvidenceAndInterpret(B)",
  :incidence-set #{}},
 :hid-2000
 {:type :htn-expanded-method,
  :uid :hid-2000,
  :label "EvidenceAndInterpret\nEvidenceAndInterpret(D)",
  :incidence-set #{:hedge-2169},
  :network :net-1955152757,
  :edges [:hedge-2158 :hedge-2157 :hedge-2156 :hedge-2155]},
 :hid-1968
 {:type :htn-primitive-task,
  :uid :hid-1968,
  :label "GoTo(C)",
  :incidence-set #{},
  :edges #{:hedge-2174}},
 :hid-1918
 {:type :htn-primitive-task,
  :uid :hid-1918,
  :label "GoTo(A)",
  :incidence-set #{},
  :edges #{:hedge-2148}},
 :hedge-2183
 {:type :edge,
  :uid :hedge-2183,
  :end-node :hid-1938,
  :edge-type :choice,
  :label "2"},
 :hid-1910
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1910,
  :label "GetDataAt(A)",
  :incidence-set #{},
  :edges #{:hedge-2165}},
 :hedge-2180
 {:type :edge, :uid :hedge-2180, :end-node :hid-1982, :label "1"},
 :hid-2003
 {:type :htn-primitive-task,
  :uid :hid-2003,
  :label "Evidence(D)",
  :incidence-set #{}},
 :net-757826067
 {:type :htn-network,
  :uid :net-757826067,
  :label "EvidenceAndInterpret\nEvidenceAndInterpret(A)",
  :rootnodes #{:hid-1926},
  :parentid :hid-1928},
 :hid-1911
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1911,
  :label "GetDataAndInterpret(A B)",
  :incidence-set #{:hedge-2165},
  :edges #{:hedge-2166}},
 :hid-1962
 {:type :htn-primitive-task,
  :uid :hid-1962,
  :label "Interpret 1(B)",
  :incidence-set #{}},
 :hedge-2160 {:type :edge, :uid :hedge-2160, :end-node :hid-1928},
 :hid-1926
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1926,
  :label "Evidence(A)",
  :incidence-set #{},
  :edges #{:hedge-2181}},
 :net-1230535760
 {:type :htn-network,
  :uid :net-1230535760,
  :label "GetDataAt\nGetDataAt(C)",
  :rootnodes #{:hid-1968},
  :parentid :hid-1971},
 :net-973439690
 {:type :htn-network,
  :uid :net-973439690,
  :label "GetDataAt\nGetDataAt(B)",
  :rootnodes #{:hid-1943},
  :parentid :hid-1946},
 :hid-1949
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1949,
  :label "GetDataAt(C)",
  :incidence-set #{}},
 :hedge-2163 {:type :edge, :uid :hedge-2163, :end-node :hid-1953},
 :hid-1935
 {:type :htn-expanded-method,
  :uid :hid-1935,
  :label "Interpret3\nInterpret(A)",
  :incidence-set #{:hedge-2184},
  :network :net-420364894},
 :hedge-2168 {:type :edge, :uid :hedge-2168, :end-node :hid-1914},
 :hedge-2173
 {:type :edge, :uid :hedge-2173, :end-node :hid-1921, :label "1"},
 :hid-1981
 {:type :htn-primitive-task,
  :uid :hid-1981,
  :label "Evidence(C)",
  :incidence-set #{}},
 :hedge-2165 {:type :edge, :uid :hedge-2165, :end-node :hid-1911},
 :hid-1915
 {:type :htn-expanded-method,
  :uid :hid-1915,
  :label "clojure-west Mission\nclojure-west Mission()",
  :incidence-set #{:hedge-2164},
  :network :net-154697093,
  :edges
  [:hedge-2173 :hedge-2172 :hedge-2171 :hedge-2170 :hedge-2169]},
 :hid-1913
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1913,
  :label "GetDataAndInterpret(C D)",
  :incidence-set #{:hedge-2167},
  :edges #{:hedge-2168}},
 :hedge-2150
 {:type :edge,
  :uid :hedge-2150,
  :end-node :hid-1966,
  :edge-type :choice,
  :label "2"},
 :hedge-2151
 {:type :edge,
  :uid :hedge-2151,
  :end-node :hid-1963,
  :edge-type :choice,
  :label "2"},
 :net-1611782350
 {:type :htn-network,
  :uid :net-1611782350,
  :label "Evidence\nEvidence(A)",
  :rootnodes #{:hid-1931},
  :parentid :hid-1932},
 :hid-1974
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1974,
  :label "GetDataAt(D)",
  :incidence-set #{}},
 :hedge-2159 {:type :edge, :uid :hedge-2159, :end-node :hid-1946},
 :hid-1914
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1914,
  :label "EvidenceAndInterpret(D)",
  :incidence-set #{:hedge-2168}},
 :net-1955152757
 {:type :htn-network,
  :uid :net-1955152757,
  :label "EvidenceAndInterpret\nEvidenceAndInterpret(D)",
  :rootnodes #{:hid-1998},
  :parentid :hid-2000},
 :hid-1970
 {:type :htn-primitive-task,
  :uid :hid-1970,
  :label "Capture(C)",
  :incidence-set #{:hedge-2174}},
 :hid-1995
 {:type :htn-primitive-task,
  :uid :hid-1995,
  :label "Capture(D)",
  :incidence-set #{:hedge-2161}},
 :hid-1909
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1909,
  :label "clojure-west Mission()",
  :incidence-set #{},
  :edges #{:hedge-2164}},
 :net-308019815
 {:type :htn-network,
  :uid :net-308019815,
  :label "EvidenceAndInterpret\nEvidenceAndInterpret(B)",
  :rootnodes #{:hid-1951},
  :parentid :hid-1953},
 :hedge-2187 {:type :edge, :uid :hedge-2187, :end-node :hid-1978},
 :hedge-2162 {:type :edge, :uid :hedge-2162, :end-node :hid-1971},
 :hid-1940
 {:type :htn-primitive-task,
  :uid :hid-1940,
  :label "Interpret 2(A)",
  :incidence-set #{}},
 :hedge-2161 {:type :edge, :uid :hedge-2161, :end-node :hid-1995},
 :hedge-2179
 {:type :edge,
  :uid :hedge-2179,
  :end-node :hid-1985,
  :edge-type :choice,
  :label "2"},
 :hid-1984
 {:type :htn-primitive-task,
  :uid :hid-1984,
  :label "Interpret 3(C)",
  :incidence-set #{}},
 :hedge-2153
 {:type :edge, :uid :hedge-2153, :end-node :hid-1957, :label "1"},
 :hid-2010
 {:type :htn-expanded-method,
  :uid :hid-2010,
  :label "Interpret1\nInterpret(D)",
  :incidence-set #{:hedge-2156},
  :network :net-1012664018},
 :hedge-2154 {:type :edge, :uid :hedge-2154, :end-node :hid-1999},
 :hid-1963
 {:type :htn-expanded-method,
  :uid :hid-1963,
  :label "Interpret1\nInterpret(B)",
  :incidence-set #{:hedge-2151},
  :network :net-406249839},
 :hid-1966
 {:type :htn-expanded-method,
  :uid :hid-1966,
  :label "Interpret2\nInterpret(B)",
  :incidence-set #{:hedge-2150},
  :network :net-1578565048},
 :hid-2006
 {:type :htn-primitive-task,
  :uid :hid-2006,
  :label "Interpret 3(D)",
  :incidence-set #{}},
 :hedge-2172
 {:type :edge, :uid :hedge-2172, :end-node :hid-1925, :label "2"},
 :hedge-2185
 {:type :edge, :uid :hedge-2185, :end-node :hid-1932, :label "1"},
 :hid-1943
 {:type :htn-primitive-task,
  :uid :hid-1943,
  :label "GoTo(B)",
  :incidence-set #{},
  :edges #{:hedge-2175}},
 :hid-2004
 {:type :htn-expanded-method,
  :uid :hid-2004,
  :label "Evidence\nEvidence(D)",
  :incidence-set #{:hedge-2158},
  :network :net-1817397046},
 :net-1122024022
 {:type :htn-network,
  :uid :net-1122024022,
  :label "GetDataAndInterpret\nGetDataAndInterpret(A B)",
  :rootnodes #{:hid-1923 :hid-1924},
  :parentid :hid-1925},
 :hid-1965
 {:type :htn-primitive-task,
  :uid :hid-1965,
  :label "Interpret 2(B)",
  :incidence-set #{}},
 :hid-1975
 {:type :htn-expanded-method,
  :uid :hid-1975,
  :label "GetDataAndInterpret\nGetDataAndInterpret(C D)",
  :incidence-set #{:hedge-2170},
  :network :net-31566537,
  :edges [:hedge-2187 :hedge-2186]},
 :hid-1991
 {:type :htn-expanded-method,
  :uid :hid-1991,
  :label "Interpret2\nInterpret(C)",
  :incidence-set #{:hedge-2177},
  :network :net-554040712},
 :net-1062235020
 {:type :htn-network,
  :uid :net-1062235020,
  :label "Interpret1\nInterpret(A)",
  :rootnodes #{:hid-1937},
  :parentid :hid-1938},
 :hid-2009
 {:type :htn-primitive-task,
  :uid :hid-2009,
  :label "Interpret 1(D)",
  :incidence-set #{}},
 :hid-1959
 {:type :htn-primitive-task,
  :uid :hid-1959,
  :label "Interpret 3(B)",
  :incidence-set #{}},
 :hid-1932
 {:type :htn-expanded-method,
  :uid :hid-1932,
  :label "Evidence\nEvidence(A)",
  :incidence-set #{:hedge-2185},
  :network :net-1611782350},
 :hedge-2148 {:type :edge, :uid :hedge-2148, :end-node :hid-1920},
 :net-177039531
 {:type :htn-network,
  :uid :net-177039531,
  :label "Interpret2\nInterpret(A)",
  :rootnodes #{:hid-1940},
  :parentid :hid-1941},
 :hid-1982
 {:type :htn-expanded-method,
  :uid :hid-1982,
  :label "Evidence\nEvidence(C)",
  :incidence-set #{:hedge-2180},
  :network :net-747723576},
 :hedge-2157
 {:type :edge,
  :uid :hedge-2157,
  :end-node :hid-2007,
  :edge-type :choice,
  :label "2"},
 :net-554040712
 {:type :htn-network,
  :uid :net-554040712,
  :label "Interpret2\nInterpret(C)",
  :rootnodes #{:hid-1990},
  :parentid :hid-1991},
 :net-691169891
 {:type :htn-network,
  :uid :net-691169891,
  :label "GetDataAndInterpret\nGetDataAndInterpret(B C)",
  :rootnodes #{:hid-1948 :hid-1949},
  :parentid :hid-1950},
 :hid-1931
 {:type :htn-primitive-task,
  :uid :hid-1931,
  :label "Evidence(A)",
  :incidence-set #{}},
 :hedge-2170
 {:type :edge, :uid :hedge-2170, :end-node :hid-1975, :label "4"},
 :hedge-2158
 {:type :edge, :uid :hedge-2158, :end-node :hid-2004, :label "1"},
 :hedge-2175 {:type :edge, :uid :hedge-2175, :end-node :hid-1945},
 :hedge-2169
 {:type :edge, :uid :hedge-2169, :end-node :hid-2000, :label "5"},
 :hid-1952
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1952,
  :label "Interpret(B)",
  :incidence-set #{:hedge-2149}},
 :net-1437629752
 {:type :htn-network,
  :uid :net-1437629752,
  :label "Interpret3\nInterpret(B)",
  :rootnodes #{:hid-1959},
  :parentid :hid-1960},
 :hid-1990
 {:type :htn-primitive-task,
  :uid :hid-1990,
  :label "Interpret 2(C)",
  :incidence-set #{}},
 :net-934727584
 {:type :htn-network,
  :uid :net-934727584,
  :label "GetDataAt\nGetDataAt(D)",
  :rootnodes #{:hid-1993},
  :parentid :hid-1996},
 :hid-1977
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1977,
  :label "Interpret(C)",
  :incidence-set #{:hedge-2176}},
 :hedge-2178
 {:type :edge,
  :uid :hedge-2178,
  :end-node :hid-1988,
  :edge-type :choice,
  :label "2"},
 :hid-1923
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1923,
  :label "EvidenceAndInterpret(A)",
  :incidence-set #{}},
 :hid-1945
 {:type :htn-primitive-task,
  :uid :hid-1945,
  :label "Capture(B)",
  :incidence-set #{:hedge-2175}},
 :hid-1950
 {:type :htn-expanded-method,
  :uid :hid-1950,
  :label "GetDataAndInterpret\nGetDataAndInterpret(B C)",
  :incidence-set #{:hedge-2171},
  :network :net-691169891,
  :edges [:hedge-2163 :hedge-2162]},
 :net-154697093
 {:type :htn-network,
  :uid :net-154697093,
  :label "clojure-west Mission\nclojure-west Mission()",
  :rootnodes #{:hid-1910},
  :parentid :hid-1915},
 :hid-2012
 {:type :htn-primitive-task,
  :uid :hid-2012,
  :label "Interpret 2(D)",
  :incidence-set #{}},
 :net-747723576
 {:type :htn-network,
  :uid :net-747723576,
  :label "Evidence\nEvidence(C)",
  :rootnodes #{:hid-1981},
  :parentid :hid-1982},
 :hid-1927
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1927,
  :label "Interpret(A)",
  :incidence-set #{:hedge-2181}},
 :hid-1988
 {:type :htn-expanded-method,
  :uid :hid-1988,
  :label "Interpret1\nInterpret(C)",
  :incidence-set #{:hedge-2178},
  :network :net-665025644},
 :hid-1985
 {:type :htn-expanded-method,
  :uid :hid-1985,
  :label "Interpret3\nInterpret(C)",
  :incidence-set #{:hedge-2179},
  :network :net-728020159},
 :hid-1993
 {:type :htn-primitive-task,
  :uid :hid-1993,
  :label "GoTo(D)",
  :incidence-set #{},
  :edges #{:hedge-2161}},
 :net-1578565048
 {:type :htn-network,
  :uid :net-1578565048,
  :label "Interpret2\nInterpret(B)",
  :rootnodes #{:hid-1965},
  :parentid :hid-1966},
 :hedge-2166 {:type :edge, :uid :hedge-2166, :end-node :hid-1912},
 :hid-1920
 {:type :htn-primitive-task,
  :uid :hid-1920,
  :label "Capture(A)",
  :incidence-set #{:hedge-2148}},
 :net-1941908368
 {:type :htn-network,
  :uid :net-1941908368,
  :label "Evidence\nEvidence(B)",
  :rootnodes #{:hid-1956},
  :parentid :hid-1957},
 :hedge-2155
 {:type :edge,
  :uid :hedge-2155,
  :end-node :hid-2013,
  :edge-type :choice,
  :label "2"},
 :hedge-2184
 {:type :edge,
  :uid :hedge-2184,
  :end-node :hid-1935,
  :edge-type :choice,
  :label "2"},
 :hid-1960
 {:type :htn-expanded-method,
  :uid :hid-1960,
  :label "Interpret3\nInterpret(B)",
  :incidence-set #{:hedge-2152},
  :network :net-1437629752},
 :hid-1998
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1998,
  :label "Evidence(D)",
  :incidence-set #{},
  :edges #{:hedge-2154}},
 :hedge-2152
 {:type :edge,
  :uid :hedge-2152,
  :end-node :hid-1960,
  :edge-type :choice,
  :label "2"},
 :network :net-1014790698,
 :hid-1921
 {:type :htn-expanded-method,
  :uid :hid-1921,
  :label "GetDataAt\nGetDataAt(A)",
  :incidence-set #{:hedge-2173},
  :network :net-470269522},
 :net-470269522
 {:type :htn-network,
  :uid :net-470269522,
  :label "GetDataAt\nGetDataAt(A)",
  :rootnodes #{:hid-1918},
  :parentid :hid-1921},
 :hid-1999
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1999,
  :label "Interpret(D)",
  :incidence-set #{:hedge-2154}},
 :hid-1996
 {:type :htn-expanded-method,
  :uid :hid-1996,
  :label "GetDataAt\nGetDataAt(D)",
  :incidence-set #{:hedge-2186},
  :network :net-934727584},
 :hid-1941
 {:type :htn-expanded-method,
  :uid :hid-1941,
  :label "Interpret2\nInterpret(A)",
  :incidence-set #{:hedge-2182},
  :network :net-177039531},
 :hid-2013
 {:type :htn-expanded-method,
  :uid :hid-2013,
  :label "Interpret2\nInterpret(D)",
  :incidence-set #{:hedge-2155},
  :network :net-1030057282},
 :hid-2007
 {:type :htn-expanded-method,
  :uid :hid-2007,
  :label "Interpret3\nInterpret(D)",
  :incidence-set #{:hedge-2157},
  :network :net-2070854419},
 :hedge-2182
 {:type :edge,
  :uid :hedge-2182,
  :end-node :hid-1941,
  :edge-type :choice,
  :label "2"},
 :hedge-2149 {:type :edge, :uid :hedge-2149, :end-node :hid-1952},
 :hid-1973
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1973,
  :label "EvidenceAndInterpret(C)",
  :incidence-set #{}},
 :hid-1946
 {:type :htn-expanded-method,
  :uid :hid-1946,
  :label "GetDataAt\nGetDataAt(B)",
  :incidence-set #{:hedge-2159},
  :network :net-973439690},
 :net-31566537
 {:type :htn-network,
  :uid :net-31566537,
  :label "GetDataAndInterpret\nGetDataAndInterpret(C D)",
  :rootnodes #{:hid-1974 :hid-1973},
  :parentid :hid-1975},
 :net-420364894
 {:type :htn-network,
  :uid :net-420364894,
  :label "Interpret3\nInterpret(A)",
  :rootnodes #{:hid-1934},
  :parentid :hid-1935},
 :hid-1978
 {:type :htn-expanded-method,
  :uid :hid-1978,
  :label "EvidenceAndInterpret\nEvidenceAndInterpret(C)",
  :incidence-set #{:hedge-2187},
  :network :net-464531693,
  :edges [:hedge-2180 :hedge-2179 :hedge-2178 :hedge-2177]},
 :hid-1951
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1951,
  :label "Evidence(B)",
  :incidence-set #{},
  :edges #{:hedge-2149}},
 :hid-1953
 {:type :htn-expanded-method,
  :uid :hid-1953,
  :label "EvidenceAndInterpret\nEvidenceAndInterpret(B)",
  :incidence-set #{:hedge-2163},
  :network :net-308019815,
  :edges [:hedge-2153 :hedge-2152 :hedge-2151 :hedge-2150]},
 :net-406249839
 {:type :htn-network,
  :uid :net-406249839,
  :label "Interpret1\nInterpret(B)",
  :rootnodes #{:hid-1962},
  :parentid :hid-1963},
 :hedge-2176 {:type :edge, :uid :hedge-2176, :end-node :hid-1977},
 :hedge-2167 {:type :edge, :uid :hedge-2167, :end-node :hid-1913},
 :hedge-2181 {:type :edge, :uid :hedge-2181, :end-node :hid-1927},
 :hid-1937
 {:type :htn-primitive-task,
  :uid :hid-1937,
  :label "Interpret 1(A)",
  :incidence-set #{}},
 :hid-1912
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1912,
  :label "GetDataAndInterpret(B C)",
  :incidence-set #{:hedge-2166},
  :edges #{:hedge-2167}},
 :net-464531693
 {:type :htn-network,
  :uid :net-464531693,
  :label "EvidenceAndInterpret\nEvidenceAndInterpret(C)",
  :rootnodes #{:hid-1976},
  :parentid :hid-1978},
 :hid-1924
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1924,
  :label "GetDataAt(B)",
  :incidence-set #{}},
 :hedge-2177
 {:type :edge,
  :uid :hedge-2177,
  :end-node :hid-1991,
  :edge-type :choice,
  :label "2"},
 :hid-1956
 {:type :htn-primitive-task,
  :uid :hid-1956,
  :label "Evidence(B)",
  :incidence-set #{}},
 :hedge-2171
 {:type :edge, :uid :hedge-2171, :end-node :hid-1950, :label "3"},
 :hid-1976
 {:type :htn-expanded-nonprimitive-task,
  :uid :hid-1976,
  :label "Evidence(C)",
  :incidence-set #{},
  :edges #{:hedge-2176}},
 :hedge-2164 {:type :edge, :uid :hedge-2164, :end-node :hid-1915},
 :hid-1957
 {:type :htn-expanded-method,
  :uid :hid-1957,
  :label "Evidence\nEvidence(B)",
  :incidence-set #{:hedge-2153},
  :network :net-1941908368},
 :net-728020159
 {:type :htn-network,
  :uid :net-728020159,
  :label "Interpret3\nInterpret(C)",
  :rootnodes #{:hid-1984},
  :parentid :hid-1985},
 :net-1817397046
 {:type :htn-network,
  :uid :net-1817397046,
  :label "Evidence\nEvidence(D)",
  :rootnodes #{:hid-2003},
  :parentid :hid-2004},
 :hedge-2156
 {:type :edge,
  :uid :hedge-2156,
  :end-node :hid-2010,
  :edge-type :choice,
  :label "2"},
 :hedge-2186 {:type :edge, :uid :hedge-2186, :end-node :hid-1996},
 :net-2070854419
 {:type :htn-network,
  :uid :net-2070854419,
  :label "Interpret3\nInterpret(D)",
  :rootnodes #{:hid-2006},
  :parentid :hid-2007},
 :hid-1938
 {:type :htn-expanded-method,
  :uid :hid-1938,
  :label "Interpret1\nInterpret(A)",
  :incidence-set #{:hedge-2183},
  :network :net-1062235020},
 :hid-1987
 {:type :htn-primitive-task,
  :uid :hid-1987,
  :label "Interpret 1(C)",
  :incidence-set #{}},
 :net-1030057282
 {:type :htn-network,
  :uid :net-1030057282,
  :label "Interpret2\nInterpret(D)",
  :rootnodes #{:hid-2012},
  :parentid :hid-2013}}
